---
import Layout from "../../../layouts/Layout.astro";

import Cell from "./Cell.svelte";
import Table from "./Table.svelte";

const { t } = Astro.locals;
---

<Layout title={t("metadata.title")} description={t("metadata.description")} class="px-20 py-20">
    <Table title="Ventajas de Goteo" cols="2">
        <Cell title="Prova">
            Aute est aute consectetur aliquip ex ad cupidatat esse est in enim. Ut duis duis aliqua
            ut laborum do officia dolore consequat. Enim aute qui occaecat magna qui exercitation
            aliquip tempor ullamco cupidatat occaecat labore laborum enim. Est Lorem est nulla
            mollit commodo. Pariatur do ut officia adipisicing nulla velit occaecat Lorem ut aliquip
            eiusmod mollit cillum et.
        </Cell>
        <Cell title="Prova">
            Anim excepteur ex qui pariatur voluptate ad quis Lorem excepteur exercitation. In
            laboris Lorem adipisicing ea occaecat reprehenderit elit esse sit consequat proident. Do
            officia ut ullamco quis eu consequat elit magna adipisicing duis quis dolore enim
            labore. Minim dolore id eu adipisicing consequat ullamco est sint cillum cupidatat
            dolore elit.
        </Cell>
        <Cell title="Prova">
            Sit magna occaecat eu ad excepteur tempor ad consectetur adipisicing non. Pariatur
            consequat ullamco nulla cillum ex ex. Ullamco enim eu esse nisi nulla qui eiusmod. Non
            incididunt excepteur velit proident cupidatat ipsum ullamco culpa commodo ullamco fugiat
            aute.
        </Cell>
    </Table>
</Layout>
