---
import { renderMarkdown } from "../../utils/renderMarkdown";

export interface Props {
    bio?: string;
}

const { bio } = Astro.props;

const renderedBio = bio ? renderMarkdown(bio) : null;
---

{
    renderedBio && (
        <div class="mx-auto mt-10 w-full max-w-[898px] px-4">
            <div
                class="prose prose-base font-['Karla'] leading-6 text-[#575757]"
                set:html={renderedBio}
            />
        </div>
    )
}
