---
import SingleProject from "../../../components/project/SingleProject.svelte";
import Layout from "../../../layouts/Layout.astro";
import Navigation from "../../../components/Navigation/Navigation.svelte";
import LanguagesDropdown from "../../../components/LanguagesDropdown.astro";
const { id } = Astro.params;

import { apiProjectsIdGet } from "../../../openapi/client/index";

if (!id) {
    throw new Error("Project ID is undefined.");
}

const { data: project, error } = await apiProjectsIdGet({ path: { id } });

if (error || typeof project === "undefined") {
    throw new Error("No se pudo obtener el proyecto.");
}
---

<Layout title={project.title} description={project.description}>
    <Navigation />
    <div class="wrapper"><LanguagesDropdown /></div>
    <SingleProject {project} client:load />
</Layout>
