@import "tailwindcss";
@import "@fontsource/karla";

@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@theme {
    /* Light Theme (default) */
    --color-primary: #59e9d3;
    --color-secondary: #3d3d3d;
    --color-tertiary: #462949;
    --color-background: #f8fafc;
    --color-body: #1e293b;
    --font-body: "Karla", sans-serif;
    --body-regular: 1rem;
    --body-small: 0.875rem;
}

@layer base {
    [data-theme="dark"] {
        --color-primary: #3d3d3d;
        --color-secondary: #94a3b8;
        --color-background: #0f172a;
        --color-body: #e2e8f0;
    }
}

html {
    min-height: 100%;
}

body {
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: var(--body-regular);
    line-height: 140%;
    color: var(--text-primary);
}

body.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.5rem;
    width: 100%;
}

.no-scroll {
    overflow: hidden !important;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .wrapper {
        padding: 0 0.5rem;
    }
}
