.marked-content h2 {
    padding-top: var(--text-xl);
    padding-bottom: var(--text-xl);

    color: var(--color-secondary);

    font-size: var(--text-4xl);
    font-weight: var(--font-weight-black);
    line-height: var(--text-xs--line-height);
}

.marked-content img {
    margin: auto;
    margin-top: var(--text-xl);
    margin-bottom: var(--text-xl);

    border-radius: var(--radius-2xl);
    max-width: 100%;
    height: auto;
}

.marked-content iframe,
.marked-content video {
    max-width: 100%;
    border-radius: var(--radius-2xl);
}

.marked-content pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.marked-content a {
    overflow-wrap: break-word;
    word-break: break-word;
}

.marked-content ul,
.marked-content ol {
    padding: var(--text-xl);

    list-style: initial;
}
