#tab-project h2 {
    padding-top: var(--text-xl);
    padding-bottom: var(--text-xl);

    color: var(--color-tertiary);

    font-size: var(--text-4xl);
    font-weight: var(--font-weight-black);
    line-height: var(--text-xs--line-height);
}

#tab-project img {
    margin: auto;
    padding-top: var(--text-xl);
    padding-bottom: var(--text-xl);
}
