---
import Layout from "../../layouts/Layout.astro";
import LoginForm from "../../components/LoginForm.astro";
import Summary from "../../components/Checkout/Summary.svelte";
import Steps from "../../components/Checkout/Steps.svelte";
import Oauth from "../../components/Oauth.astro";
import Button from "../../components/library/Button.svelte";
import BackButton from "../../components/BackButton.astro";
import { itemCount } from "../../stores/cart";

const { t } = Astro.locals;

let hasCart = false;
itemCount.subscribe((count) => {
    hasCart = count > 1;
});
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <div class="flex flex-col gap-8 py-10 lg:flex-row">
            <div class="flex w-full flex-col gap-10 lg:w-1/2">
                <BackButton />

                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-10">
                        <div class="flex flex-col gap-4">
                            <h2 class="text-[40px]/[48px] font-bold tracking-[0%] text-black">
                                {t("login.page.title")}
                            </h2>
                            {hasCart && <p class="text-content">{t("login.page.description")}</p>}
                        </div>
                        <div>
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-row items-center gap-2">
                                    <h2 class="text-2xl font-bold text-black">
                                        {t("login.page.registerOr")}
                                    </h2>
                                    <a
                                        href="/register"
                                        class="text-secondary bg-variant1 rounded-2xl px-4 py-2 font-bold"
                                    >
                                        {t("login.page.registerBtnLabel")}
                                    </a>
                                </div>
                            </div>
                            <LoginForm />
                            <!-- <div>
                                <p>{t("login.page.otherAccessMethods")}</p>
                                <Oauth />
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-secondary sticky top-10 flex h-fit w-full flex-col gap-6 rounded-[40px] border bg-white lg:w-1/2"
            >
                {hasCart && <Summary client:load />}
                {hasCart && <Steps step={2} client:load />}
                <div class="flex flex-col gap-4 px-6 pt-0 pb-6">
                    {hasCart && <p class="text-content text-sm">{t("checkout.summary.deduct")}</p>}

                    {
                        !hasCart && (
                            <div class="flex flex-col gap-6 pt-6 pb-0">
                                <div>
                                    <h2
                                        class={`text-secondary text-[56px] leading-tight font-semibold`}
                                    >
                                        {t("login.page.welcome.title")}
                                    </h2>
                                    <p class="text-content font-light">
                                        {t("login.page.welcome.subtitle")}
                                    </p>
                                </div>
                                <hr class="bg-secondary" />
                            </div>
                        )
                    }

                    <Button type="submit" form="login" class="w-fit">
                        {t("global.btn.continue")}
                    </Button>
                </div>
            </div>
        </div>
    </main>
</Layout>
