---
import Layout from "../../layouts/Layout.astro";
import LoginForm from "../../components/LoginForm.astro";
import Summary from "../../components/Checkout/Summary.svelte";
import Steps from "../../components/Checkout/Steps.svelte";
import Oauth from "../../components/Oauth.astro";
import { itemCount } from "../../stores/cart";

const { t } = Astro.locals;

let hasCart = false;
itemCount.subscribe((count) => {
    hasCart = count > 1;
});
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <div class="flex flex-row gap-8 py-10">
            <div class="flex w-1/2 flex-col gap-10">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-10">
                        <div class="flex flex-col gap-4">
                            <h2 class="text-[40px]/[48px] font-bold tracking-[0%] text-[#3D3D3D]">
                                {t("login.page.title")}
                            </h2>
                            {hasCart && <p class="text-[#575757]">{t("login.page.description")}</p>}
                        </div>
                        <div>
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-row items-center gap-2">
                                    <h2 class="text-secondary text-2xl font-bold">
                                        {t("login.page.registerOr")}
                                    </h2>
                                    <a
                                        href="/register"
                                        class="text-tertiary rounded-2xl bg-[#E6E5F7] px-4 py-2 font-bold"
                                    >
                                        {t("login.page.registerBtnLabel")}
                                    </a>
                                </div>
                            </div>
                            <LoginForm />
                            <!-- <div>
                                <p>{t("login.page.otherAccessMethods")}</p>
                                <Oauth />
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-tertiary sticky top-10 flex h-fit w-1/2 flex-col gap-6 rounded-[40px] border bg-white"
            >
                {hasCart && <Summary client:load />}
                {hasCart && <Steps step={2} client:load />}
                <div class="flex flex-col gap-4 px-6 pt-0 pb-6">
                    {
                        hasCart && (
                            <p class="text-sm text-[#575757]">{t("checkout.summary.deduct")}</p>
                        )
                    }

                    {
                        !hasCart && (
                            <div class="flex flex-col gap-6 pt-6 pb-0">
                                <div>
                                    <h2
                                        class={`text-[56px] leading-tight font-semibold text-[#462949]`}
                                    >
                                        {t("login.page.welcome.title")}
                                    </h2>
                                    <p class="font-light text-[#575757]">
                                        {t("login.page.welcome.subtitle")}
                                    </p>
                                </div>
                                <hr class="bg-[#462949]" />
                            </div>
                        )
                    }

                    <button
                        form="login"
                        class="bg-primary w-fit cursor-pointer rounded-3xl px-6 py-4 font-bold text-[#462949]"
                        onclick="document.getElementById('login')?.requestSubmit(); return false;"
                    >
                        {t("global.btn.continue")}
                    </button>
                </div>
            </div>
        </div>
    </main>
</Layout>
