---
import Layout from "../../layouts/Layout.astro";
import RegisterForm from "../../components/RegisterForm.astro";
import Summary from "../../components/Checkout/Summary.svelte";
import Steps from "../../components/Checkout/Steps.svelte";
import AuthSummary from "../../components/AuthSummary.svelte";
import Oauth from "../../components/Oauth.astro";
import Button from "../../components/library/Button.svelte";
import BackButton from "../../components/BackButton.astro";
import { itemCount } from "../../stores/cart";

const { t } = Astro.locals;

let hasCart = false;
itemCount.subscribe((count) => {
    hasCart = count > 1;
});
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <div class="flex flex-col gap-8 py-10 lg:flex-row">
            <div class="flex w-full flex-col gap-10 lg:w-1/2">
                <BackButton />

                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-6 md:gap-8 lg:gap-10">
                        <div class="flex flex-col gap-4">
                            <h2
                                class="text-2xl font-bold tracking-[0%] text-black md:text-3xl md:leading-tight lg:text-[40px] lg:leading-[48px]"
                            >
                                {t("register.page.title")}
                            </h2>
                            {
                                hasCart && (
                                    <p class="text-content text-sm md:text-base">
                                        {t("register.page.description")}
                                    </p>
                                )
                            }
                        </div>
                        <div>
                            <div class="flex flex-col gap-4">
                                <div
                                    class="flex flex-col flex-wrap items-start gap-2 sm:flex-row sm:items-center"
                                >
                                    <h2 class="text-lg font-bold text-black md:text-xl lg:text-2xl">
                                        {t("register.page.registerOr")}
                                    </h2>
                                    <a
                                        href="/login"
                                        class="text-secondary bg-purple-tint inline-block rounded-xl px-3 py-1.5 text-sm font-bold whitespace-nowrap md:rounded-2xl md:px-4 md:py-2 md:text-base"
                                    >
                                        {t("register.page.loginBtnLabel")}
                                    </a>
                                </div>
                            </div>
                            <RegisterForm />
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="fixed right-0 bottom-0 left-0 flex h-[320px] h-fit w-full flex-col rounded-t-[24px] border-t border-r border-l bg-white pt-6 pr-4 pb-6 pl-4 lg:relative lg:sticky lg:top-10 lg:right-auto lg:bottom-auto lg:left-auto lg:h-fit lg:w-1/2 lg:gap-6 lg:rounded-[40px] lg:border lg:p-6"
            >
                <AuthSummary client:load />
                {hasCart && <Summary client:load />}

                <div class="lg:block" id="auth-details">
                    <div class="flex flex-col px-0 pb-0 lg:px-6 lg:pt-0 lg:pb-0">
                        <div class="flex flex-col gap-4 pt-4 pb-0 md:gap-6 md:pt-6 lg:hidden">
                            <div>
                                <p class="text-content text-sm font-light">
                                    {t("login.page.welcome.subtitle")}
                                </p>
                            </div>
                            <hr class="bg-secondary" />
                        </div>
                    </div>
                </div>

                <div class="mt-4 flex flex-col items-end px-0 pt-0 pb-0 lg:px-6 lg:pt-0 lg:pb-0">
                    <Button type="submit" form="register" class="w-fit">
                        {t("register.form.btnSubmit")}
                    </Button>
                </div>
            </div>
        </div>
    </main>
</Layout>
