---
import LanguagesDropdown from "../components/LanguagesDropdown.astro";
import type { languagesList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languagesList);
---

<Layout
    title={translateLabels("metadata.title")}
    description={translateLabels("metadata.description")}
>
    <main class="wrapper">
        <h1 class="text-body">{translateLabels("title")}</h1>
        <LanguagesDropdown />
    </main>
</Layout>
