---
import CartButton from "./CartButton.svelte";
import MenuIcon from "../svgs/MenuIcon.astro";
import Logo from "../svgs/Logo.astro";
import UserIcon from "../svgs/UserIcon.astro";
import Logout from "./Logout.astro";
import UiLanguages from "./UiLanguages.astro";

const { t } = Astro.locals;

let user;
const accessToken = Astro.cookies.get("access-token");

if (accessToken) {
    user = JSON.parse(accessToken.value);
}
---

<header class="sticky top-0 z-100 w-full max-w-screen px-6 py-4 md:py-8">
    <div
        class="wrapper flex items-center justify-between rounded-xl border-1 border-[#f3f3f3] bg-[#fbfbfb80] backdrop-blur-xl px-4 py-6"
    >
        <a href="/" class="flex-shrink-0"><Logo /></a>
        <nav>
            <ul class="flex items-center gap-2 md:gap-4">
                {
                    accessToken && (
                        <li class="flex items-center">
                            <CartButton client:load />
                        </li>
                    )
                }
                <li class="items-center gap-1 text-sm sm:flex md:text-base">
                    <UserIcon />
                    {
                        accessToken && (
                            <span class="hidden md:inline">
                                {t("greeting")}, {user.person.firstName}
                            </span>
                        )
                    }
                    {
                        !accessToken && (
                            <a href="/login">
                                <span class="hidden md:inline">{t("header.login")}</span>
                            </a>
                        )
                    }
                </li>
                <li class="flex items-center">
                    <UiLanguages />
                </li>
                <li class="flex items-center md:hidden">
                    <button class="p-1" aria-label="Menu">
                        <MenuIcon />
                    </button>
                </li>
                <li class="hidden items-center md:flex">
                    <MenuIcon />
                </li>
            </ul>
        </nav>
    </div>
</header>
