---
import type { languagesList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
import BagIcon from "../svgs/BagIcon.astro";
import MenuIcon from "../svgs/MenuIcon.astro";
import Logo from "../svgs/Logo.astro";
import UserIcon from "../svgs/UserIcon.astro";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languagesList);
---

<header class="bg-primary py-8">
    <div class="wrapper flex items-center justify-between">
        <Logo />
        <nav>
            <ul class="flex items-center justify-center gap-4">
                <li class="flex items-center justify-center gap-1">
                    <UserIcon />
                    {translateLabels("header.login")}
                </li>
                <li class="flex items-center justify-center">
                    <BagIcon />
                </li>
                <li class="flex items-center justify-center">
                    <MenuIcon />
                </li>
            </ul>
        </nav>
    </div>
</header>
