---
import CartButton from "./CartButton.svelte";
import MenuIcon from "../svgs/MenuIcon.astro";
import Logo from "../svgs/Logo.astro";
import UserIcon from "../svgs/UserIcon.astro";
const { t } = Astro.locals;
---

<header class="bg-primary py-8">
    <div class="wrapper flex items-center justify-between">
        <a href="/"><Logo /></a>
        <nav>
            <ul class="flex items-center justify-center gap-4">
                <li class="flex items-center justify-center gap-1">
                    <UserIcon />
                    {t("header.login")}
                </li>
                <li class="flex items-center justify-center">
                    <CartButton client:load />
                </li>
                <li class="flex items-center justify-center">
                    <MenuIcon />
                </li>
            </ul>
        </nav>
    </div>
</header>
