---
import { languagesList } from "../i18n/locales/index";
const currentLang: string = Astro.locals.lang || "es";
const languagesJSON = JSON.stringify(Object.keys(languagesList));
---

<section>
    <select name="language" id="language-select" data-languages={languagesJSON}>
        {
            Object.entries(languagesList).map(([lang, label]) => (
                <option value={lang} selected={lang === currentLang}>
                    {label}
                </option>
            ))
        }
    </select>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const selectElement = document.getElementById("language-select");

        if (!selectElement) return;

        const languages = JSON.parse(selectElement.getAttribute("data-languages") || "[]");

        selectElement.addEventListener("change", (event) => {
            const target = event.target as HTMLSelectElement;
            if (!target) return;

            const selectedLang = target.value;
            let pathParts = window.location.pathname.split("/");

            if (languages.includes(pathParts[1])) {
                pathParts.splice(1, 1);
            }

            let newPath =
                selectedLang === "es"
                    ? `/${pathParts.join("/")}`
                    : `/${selectedLang}/${pathParts.join("/")}`;

            newPath = newPath.replace(/\/+/g, "/");

            history.pushState({}, "", newPath);

            location.href = newPath;
        });
    });
</script>
