---
const { t } = Astro.locals;
---

<div>
    <div class="mt-8 sm:w-full sm:max-w-md">
        <form id="login" method="POST" class="flex flex-col gap-4">
            <div class="relative w-full">
                <input
                    type="text"
                    id="identifier"
                    name="identifier"
                    placeholder=""
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                />
                <label
                    for="identifier"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("login.form.email")}
                </label>
            </div>

            <div class="relative w-full">
                <input
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                    type="password"
                    id="password"
                    name="password"
                    placeholder=""
                    required
                />
                <label
                    for="password"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("login.form.password")}
                </label>
            </div>

            <button
                class="bg-primary cursor-pointer rounded-3xl px-6 py-4 font-bold text-[#462949]"
                type="submit"
            >
                {t("login.form.btnSubmit")}
            </button>
        </form>

        <div id="login-error-content" class="mt-4 text-center text-red-500"></div>
        <a href="#" class="text-tertiary font-bold underline">
            {t("login.page.forgotPassword")}
        </a>
    </div>
</div>

<script>
    import { actions, isInputError } from "astro:actions";

    const form = document.getElementById("login");
    const errorContent = document.getElementById("login-error-content");

    if (form instanceof HTMLFormElement) {
        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const { error } = await actions.login(formData);
            console.log("error", error);

            if (!error) {
                const lang = location.pathname.split("/")[1];
                window.location.href = `/${lang}/payment`;
            }

            if (error && errorContent instanceof HTMLElement) {
                errorContent.innerHTML = "";

                if (isInputError(error)) {
                    const ul = document.createElement("ul");
                    error.issues.forEach((err) => {
                        const li = document.createElement("li");
                        li.innerText = err.message;
                        ul.appendChild(li);
                    });

                    errorContent.appendChild(ul);
                    return;
                }
                errorContent.innerText = error.message;
            }
        });
    }
</script>
