---
import TextInput from "./library/TextInput.svelte";

const { t } = Astro.locals;
---

<div>
    <div class="mt-8 w-full max-w-md">
        <form id="login" method="POST" class="flex flex-col gap-6">
            <TextInput
                name="identifier"
                placeholder={t("login.form.email")}
                required={true}
                labelText={t("login.form.email")}
            />
            <TextInput
                type="password"
                name="password"
                placeholder={t("login.form.password")}
                required={true}
                labelText={t("login.form.password")}
            />
        </form>

        <div id="login-error-content" class="mt-4 text-center text-red-500"></div>
        <!-- <a href="#" class="text-secondary font-bold underline">
            {t("login.page.forgotPassword")}
        </a> -->
    </div>
</div>

<script>
    import { actions, isInputError } from "astro:actions";
    import { itemCount } from "../stores/cart";

    let hasCart = false;
    itemCount.subscribe((count) => {
        hasCart = count > 1;
        console.log(count);
        console.log(hasCart);
    });

    const form = document.getElementById("login");
    const errorContent = document.getElementById("login-error-content");

    if (form instanceof HTMLFormElement) {
        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const { error } = await actions.login(formData);
            console.log("error", error);

            if (error && errorContent instanceof HTMLElement) {
                errorContent.innerHTML = "";

                if (isInputError(error)) {
                    const ul = document.createElement("ul");
                    error.issues.forEach((err) => {
                        const li = document.createElement("li");
                        li.innerText = err.message;
                        ul.appendChild(li);
                    });

                    errorContent.appendChild(ul);
                    return;
                }
                errorContent.innerText = error.message;
            }

            if (!error) {
                if (hasCart) {
                    window.location.href = `/payment`;
                }

                window.location.href = `/`;
            }
        });
    }
</script>
