---
const { t } = Astro.locals;
---

<button
    id="btn-logout"
    class="text-secondary hover:bg-grey block w-full cursor-pointer overflow-hidden px-4 py-2 font-bold overflow-ellipsis"
>
    {t("logout.label")}
</button>

<script>
    import { actions } from "astro:actions";

    const button = document.querySelector("#btn-logout");
    button?.addEventListener("click", async () => {
        const { error } = await actions.logout();

        console.log("error", error);

        window.location.href = `/`;
    });
</script>
