<button class="cursor-pointer border">Logout</button>

<script>
    import { actions } from "astro:actions";

    const button = document.querySelector("button");
    button?.addEventListener("click", async () => {
        const { error } = await actions.logout();
        if (!error) alert("Logged out");
    });
</script>
