---
const { t } = Astro.locals;
---

<button id="btn-logout" class="cursor-pointer border">{t("logout.label")}</button>

<script>
    import { actions } from "astro:actions";

    const button = document.querySelector("#btn-logout");
    button?.addEventListener("click", async () => {
        const { error } = await actions.logout();
        console.log("error", error);
        const lang = location.pathname.split("/")[1];
        window.location.href = `/${lang}/`;
    });
</script>
