---
const { t } = Astro.locals;
---

<div>
    <div class="mt-8 sm:w-full sm:max-w-md">
        <form id="register" method="POST" class="flex flex-col gap-4">
            <fieldset>
                <legend>Tipo de usuario</legend>
                <label>
                    <input type="radio" name="type" value="individual" checked />
                    {t("register.form.userType.individual")}
                </label>
                <label>
                    <input type="radio" name="type" value="organization" />
                    {t("register.form.userType.organization")}
                </label>
            </fieldset>

            <div class="relative w-full">
                <input
                    type="email"
                    id="identifier"
                    name="identifier"
                    placeholder=""
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                />
                <label
                    for="identifier"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.email")}:
                </label>
            </div>

            <div class="relative w-full">
                <input
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                    type="password"
                    id="password"
                    name="password"
                    placeholder=""
                    required
                />
                <label
                    for="password"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.password")}
                </label>
            </div>

            <div class="relative w-full">
                <input
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                    type="text"
                    id="firstname"
                    name="firstname"
                    placeholder=""
                    required
                />
                <label
                    for="firstname"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.firstName")}
                </label>
            </div>

            <div class="relative w-full">
                <input
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                    type="text"
                    id="lastname"
                    name="lastname"
                    placeholder=""
                    required
                />
                <label
                    for="lastname"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.lastName")}
                </label>
            </div>

            <div class="relative w-full" id="fields-individual">
                <input
                    class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                    required
                    type="text"
                    id="dni"
                    name="dni"
                    placeholder=""
                    required
                />
                <label
                    for="dni"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.taxId")}
                </label>
            </div>

            <div id="fields-organization" style="display: none;" class="flex flex-col gap-4">
                <div class="relative w-full">
                    <input
                        class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                        required
                        type="text"
                        id="razonSocial"
                        name="razonSocial"
                        placeholder=""
                        required
                    />
                    <label
                        for="razonSocial"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.organization.legalName")}
                    </label>
                </div>

                <div class="relative w-full">
                    <input
                        class="peer w-full rounded-md border border-[#855a96] px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:ring-[#855a96] focus:outline-none"
                        required
                        type="text"
                        id="cif"
                        name="cif"
                        placeholder=""
                        required
                    />
                    <label
                        for="cif"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.organization.taxId")}
                    </label>
                </div>
            </div>

            <button
                class="bg-primary cursor-pointer rounded-3xl px-6 py-4 font-bold text-[#462949]"
                type="submit"
            >
                {t("register.form.btnSubmit")}</button
            >
        </form>
        <div id="register-error-content" class="mt-4 text-center text-red-500"></div>
    </div>
</div>

<script>
    import { actions, isInputError } from "astro:actions";

    const form = document.getElementById("register");
    const errorContent = document.getElementById("register-error-content");

    if (form instanceof HTMLFormElement) {
        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const { error } = await actions.register(formData);

            // if (!error) {
            //     const lang = location.pathname.split("/")[1];
            //     window.location.href = `/${lang}/`;
            // }

            if (error && errorContent instanceof HTMLElement) {
                errorContent.innerHTML = "";

                if (isInputError(error)) {
                    const ul = document.createElement("ul");
                    error.issues.forEach((err) => {
                        const li = document.createElement("li");
                        li.innerText = err.message;
                        ul.appendChild(li);
                    });

                    errorContent.appendChild(ul);
                    return;
                }
                errorContent.innerText = error.message;
            }
        });
    }

    function toggleFields() {
        const isIndividual =
            document.querySelector<HTMLInputElement>('input[name="type"]:checked')?.value ===
            "individual";

        const fieldsIndividual = document.getElementById("fields-individual");
        const fieldsOrganization = document.getElementById("fields-organization");

        if (fieldsIndividual && fieldsOrganization) {
            fieldsIndividual.style.display = isIndividual ? "block" : "none";
            fieldsOrganization.style.display = isIndividual ? "none" : "flex";
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        toggleFields();

        document.querySelectorAll('input[name="type"]').forEach((radio) => {
            radio.addEventListener("change", toggleFields);
        });
    });
</script>
