---
import Checkbox from "./library/Checkbox.svelte";

const { t } = Astro.locals;
---

<div>
    <div class="mt-8 sm:w-full sm:max-w-md">
        <form id="register" method="POST" class="flex flex-col gap-4">
            <fieldset class="flex gap-6">
                <label class="flex cursor-pointer items-center gap-2">
                    <input
                        type="radio"
                        name="type"
                        value="individual"
                        checked
                        class="relative h-6 w-6 appearance-none rounded-full border border-purple-600 after:absolute after:top-1/2 after:left-1/2 after:hidden after:h-2 after:w-2 after:-translate-x-1/2 after:-translate-y-1/2 after:transform after:rounded-full after:bg-purple-900 after:content-[''] checked:border-teal-400 checked:bg-teal-400 checked:after:block"
                    />
                    <span class="text-gray-700"> {t("register.form.userType.individual")}</span>
                </label>

                <label class="flex cursor-pointer items-center gap-2">
                    <input
                        type="radio"
                        name="type"
                        value="organization"
                        class="border-secondary relative h-6 w-6 appearance-none rounded-full border after:absolute after:top-1/2 after:left-1/2 after:hidden after:h-2 after:w-2 after:-translate-x-1/2 after:-translate-y-1/2 after:transform after:rounded-full after:bg-purple-900 after:content-[''] checked:border-teal-400 checked:bg-teal-400 checked:after:block"
                    />
                    <span class="text-gray-700">{t("register.form.userType.organization")}</span>
                </label>
            </fieldset>

            <div class="flex flex-row gap-4">
                <div class="relative w-full">
                    <input
                        class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                        required
                        type="text"
                        id="firstname"
                        name="firstname"
                        placeholder=""
                        required
                    />
                    <label
                        for="firstname"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.individual.firstName")}
                    </label>
                </div>

                <div class="relative w-full">
                    <input
                        class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                        required
                        type="text"
                        id="lastname"
                        name="lastname"
                        placeholder=""
                        required
                    />
                    <label
                        for="lastname"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.individual.lastName")}
                    </label>
                </div>
            </div>

            <div class="relative w-full">
                <input
                    type="email"
                    id="identifier"
                    name="identifier"
                    placeholder=""
                    class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                    required
                />
                <label
                    for="identifier"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.email")}:
                </label>
            </div>

            <div class="relative w-full">
                <input
                    class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                    required
                    type="password"
                    id="password"
                    name="password"
                    placeholder=""
                    required
                />
                <label
                    for="password"
                    class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                >
                    {t("register.individual.password")}
                </label>
            </div>

            <div class="text-content relative w-full text-xs font-medium">
                <span> {t("register.form.validation.password.minLength")}</span>
            </div>

            <div class="relative flex w-full flex-col gap-4" id="fields-individual">
                <div>
                    <label class="flex flex-row items-start gap-2">
                        <Checkbox
                            client:load
                            id="toggle-dni"
                            label={t("register.individual.taxId.msgDeduction")}
                        />
                    </label>
                </div>

                <div class="relative w-full" id="fields-individual">
                    <input
                        class="peer w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none disabled:cursor-not-allowed"
                        type="text"
                        id="dni"
                        name="dni"
                        placeholder=""
                        disabled
                    />
                    <label
                        for="dni"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.individual.taxId.label")}
                    </label>
                </div>
            </div>

            <div id="fields-organization" style="display: none;" class="flex flex-col gap-4">
                <div class="relative w-full">
                    <input
                        id="fields-organization-razonSocial"
                        class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                        type="text"
                        id="razonSocial"
                        name="razonSocial"
                        placeholder=""
                        required
                    />
                    <label
                        for="razonSocial"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.organization.legalName")}
                    </label>
                </div>

                <div class="relative w-full">
                    <input
                        id="fields-organization-cif"
                        class="peer border-secondary focus:ring-secondary w-full rounded-md border px-4 pt-6 pb-2 text-base text-gray-700 placeholder-gray-400 focus:ring-1 focus:outline-none"
                        type="text"
                        id="cif"
                        name="cif"
                        placeholder=""
                        required
                    />
                    <label
                        for="cif"
                        class="absolute top-1 left-4 text-[10px] font-medium text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-[10px] peer-focus:text-gray-500"
                    >
                        {t("register.organization.taxId")}
                    </label>
                </div>
            </div>

            <div class="space-y-2">
                <label class="flex items-start gap-2">
                    <Checkbox client:load id="terms" label={t("register.form.termsCheckbox")} />
                </label>
                <label class="flex items-start gap-2">
                    <Checkbox
                        client:load
                        id="cookies"
                        label={t("register.form.policiesCheckbox")}
                    />
                </label>
            </div>
        </form>
        <div id="register-error-content" class="mt-4 text-center text-red-500"></div>
    </div>
</div>

<script>
    import { actions, isInputError } from "astro:actions";

    const form = document.getElementById("register");
    const errorContent = document.getElementById("register-error-content");

    if (form instanceof HTMLFormElement) {
        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const { error } = await actions.register(formData);

            if (!error) {
                const urlParams = new URLSearchParams(window.location.search);
                const isFromCheckout = urlParams.get("checkout") === "true";

                if (isFromCheckout) {
                    window.location.href = `/payment`;
                } else {
                    const lang = location.pathname.split("/")[1];
                    window.location.href = `/${lang}/`;
                }
            }

            if (error && errorContent instanceof HTMLElement) {
                errorContent.innerHTML = "";

                if (isInputError(error)) {
                    const ul = document.createElement("ul");
                    error.issues.forEach((err) => {
                        const li = document.createElement("li");
                        li.innerText = err.message;
                        ul.appendChild(li);
                    });

                    errorContent.appendChild(ul);
                    return;
                }
                errorContent.innerText = error.message;
            }
        });
    }

    function toggleFields() {
        const isIndividual =
            document.querySelector<HTMLInputElement>('input[name="type"]:checked')?.value ===
            "individual";

        const fieldsIndividual = document.getElementById("fields-individual");
        const fieldsOrganization = document.getElementById("fields-organization");

        if (fieldsIndividual && fieldsOrganization) {
            fieldsIndividual.style.display = isIndividual ? "flex" : "none";
            fieldsOrganization.style.display = isIndividual ? "none" : "flex";
        }

        const inputRazonSocial = document.querySelector<HTMLInputElement>(
            'input[id="fields-organization-razonSocial"',
        );

        if (inputRazonSocial) {
            inputRazonSocial.required = !isIndividual;
        }

        const inputCif = document.querySelector<HTMLInputElement>(
            'input[id="fields-organization-cif"',
        );

        if (inputCif) {
            inputCif.required = !isIndividual;
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        toggleFields();

        document.querySelectorAll('input[name="type"]').forEach((radio) => {
            radio.addEventListener("change", toggleFields);
        });

        const toggleDni = document.getElementById("toggle-dni");

        if (toggleDni) {
            toggleDni.addEventListener("change", function () {
                const dniInput = document.getElementById("dni") as HTMLInputElement;
                const labelInput = document.querySelector('label[for="dni"]');

                if (dniInput && labelInput) {
                    const isChecked = (this as HTMLInputElement).checked;
                    dniInput.disabled = !isChecked;

                    dniInput.classList.remove("border-[#e6e6e6]", "focus:ring-transparent");

                    if (isChecked) {
                        dniInput.classList.add("border-secondary", "focus:ring-secondary");
                        dniInput.classList.remove("cursor-not-allowed");
                        labelInput.classList.remove("cursor-not-allowed");
                    }
                }
            });

            toggleDni.dispatchEvent(new Event("change"));
        }
    });
</script>
