---
import Layout from "../../layouts/Layout.astro";
const { t } = Astro.locals;
import Cart from "../../components/Checkout/Cart.svelte";
import Summary from "../../components/Checkout/Summary.svelte";
import Steps from "../../components/Checkout/Steps.svelte";
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <div class="flex flex-row gap-8 py-10">
            <div class="flex w-1/2 flex-col gap-10">
                <div class="flex flex-col gap-4">
                    <h2 class="text-[40px]/[48px] font-bold tracking-[0%] text-[#3D3D3D]">
                        {t("checkout.title")}
                    </h2>
                    <p class="text-[#575757]">
                        {t("checkout.subtitle")}
                    </p>
                </div>

                <Cart client:load />
            </div>
            <div
                class="border-tertiary flex h-fit w-1/2 flex-col gap-6 rounded-[40px] border bg-white"
            >
                <Summary client:load />
                <Steps step={1} client:load />
                <div class="flex flex-col gap-4 px-6 pt-0 pb-6">
                    <p class="text-sm text-[#575757]">{t("checkout.summary.deduct")}</p>
                    <a
                        class="bg-primary w-fit cursor-pointer rounded-3xl px-6 py-4 font-bold text-[#462949]"
                    >
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </main>
</Layout>
