---
import UiLanguages from "../../components/UiLanguages.astro";
import Countdown from "../../components/Countdown.svelte";
import Logout from "../../components/Logout.astro";
import Layout from "../../layouts/Layout.astro";
const { t } = Astro.locals;
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <h1 class="text-body">{t("title")}</h1>
        <Countdown client:load />
        <UiLanguages />
        <Logout />
    </main>
</Layout>
