---
import Layout from "../../layouts/Layout.astro";
import LoginC from "../../components/LoginC.astro";
import Summary from "../../components/Checkout/Summary.svelte";
import Steps from "../../components/Checkout/Steps.svelte";

const { t } = Astro.locals;
---

<Layout title={t("metadata.title")} description={t("metadata.description")}>
    <main class="wrapper">
        <LoginC />
        <Summary client:load />
        <Steps step={2} client:load />
    </main>
</Layout>
