---
import "../styles/global.css";
import Metatags from "./Metatags.svelte";

const { title } = Astro.props;
---

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{title}</title>
        <Metatags client:load {title} description="" keywords="" />
    </head>
    <body>
        <slot />
    </body>
</html>
